/*form*/
.btn {
 	border-radius: 0 \0/IE9;
}
.btn:hover {
	filter: alpha(opacity=85);
}
.btn.disabled , .btn[disabled] {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=65);
}