body, p, li {
	font-size: 13.5px;
	line-height: 24px;
}

.header_new {
	height: 70px;
}

.header_new .basictab {
	height: 100%;
	padding: 0px;
	border: none;
	background: none;
}

.header_new .logo {
	width: 130px
	height: 70px;
	float: left;
	padding: 0px;
}

.header_new .basictab ul {
	margin-top: 30px;
}

.main {
	border-right: 1px solid #d0d0d0;
	padding-right: 39px;
}

.main h3 {
	border-bottom: 1px solid #d0d0d0;
}

.main ul {
	margin-top: 1em;
}

#site-navigation .breadcrumb {
	background: none;
	padding: 0;
	border: none;
	border-bottom: 1px solid #D0D0D0;
}

#site-navigation .breadcrumb a {
	font-size: 13px;
	cursor: hand;
}

#site-navigation ul.breadcrumb {
	margin-top: 0px;
	line-height: 36px;
}

h1.post-header {
	border-bottom: 1px solid #d0d0d0;;
}

.post h1 {
	font-size: 18px;
	line-height: 36px;
	margin-bottom: 0px;
}

.post h2 {
	font-size: 16px;
	line-height: 36px;
}

.post h3 {
	font-size: 14px;
	line-height: 36px;
	border: none;
}

.post h4 {
	font-size: 13.5px;
	line-height: 36px;
	border: none;
}

.post code {
	background: none;
}

.post img {
	max-width: 100%;
}

.post td ul {
	margin: 0;
}

.sidebar h4 {
	border-bottom: 1px solid #d0d0d0;;
}

.sidebar ul {
	margin-top: 1em;
	margin-left: 0px;
}

.sidebar li {
	list-style: none;
}

.footer_new {
	width: auto;
	margin-top: 20px;
}

.footer_new .basictab {
	height: 100%;
	padding: 0px;
	border: none;
	background: none;
}

.footer_new .basictab ul {
	margin-top: 20px;
}

.footer_new .basictab li {
	padding-right: 30px;
	float: none;
}

.footer_new .basictab a {
	border: none;
	padding: 0px;
	display: inline;
}