body, p, li {
	font-size: 13.5px;
	line-height: 24px;
}

.header {
	height: 150px;
}

.main {
	border-right: 1px solid #d0d0d0;
	padding-right: 39px;
}

.main h3 {
	border-bottom: 1px solid #d0d0d0;
}

.main ul {
	margin-top: 1em;
}

.post h1 {
	font-size: 18px;
	line-height: 36px;
	margin-bottom: 0px;
}

.post h2 {
	font-size: 16px;
	line-height: 36px;
}

.post h3 {
	font-size: 14px;
	line-height: 36px;
	border: none;
}

.post code {
	background: none;
}

.post img {
	width: 100%;
}

.post td ul {
	margin: 0;
}

.sidebar h4 {
	border-bottom: 1px solid #d0d0d0;;
}

.sidebar ul {
	margin-top: 1em;
	margin-left: 0px;
}

.sidebar li {
	list-style: none;
}