---
layout: base
title: 果合开发者帮助中心
---
<div class="row">
	<div id="search" class="span10">
		<form id="search_form" class="xxlarge">
			<input type="text" name="query" id="query" />
			<input type="submit" name="search-submit" id="search-submit" value="搜索" />
		</form>
	</div>
</div>

<div class="row">
	<div id="content" class="span10">
	</div>
</div>

<div class="row">
	<div class="span5">
		<h3>快速入门</h3>
		<ul>
		{% for post in site.categories.getting-started %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="span5">
		<h3>使用技巧与窍门</h3>
		<ul>
		{% for post in site.categories.tips %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>

<div class="row">
	
	<div class="span5">
		<h3>网站使用 - 广告聚合相关问题</h3>
		<ul>
		{% for post in site.categories.mediation %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="span5">
		<h3>网站使用 - 广告管理相关问题</h3>
		<ul>
		{% for post in site.categories.ad-serving %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
	

<div class="row">
	<div class="span5">
		<h3>果合 iOS SDK 使用问题</h3>
		<ul>
		{% for post in site.categories.ios %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
	
	<div class="span5">
		<h3 class="span5">果合 Android SDK 使用问题</h3>
		<ul>
		{% for post in site.categories.android %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
	
<div class="row">

</div>
