---
layout: base
title: 果合开发者帮助中心
---
<!--
<div class="row">
	<div id="cse" class="span10">站内搜索</div>
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript"> 
	  google.load('search', '1', {language : 'zh-CN', style : google.loader.themes.MINIMALIST});
	  google.setOnLoadCallback(function() {
	    var customSearchControl = new google.search.CustomSearchControl(
	      '002341897268909402716:m_a8pexohtu');
	
	    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
	    customSearchControl.draw('cse');
	  }, true);
	</script>
</div>-->

<div class="row">
	<div class="span5">
		<h3>快速入门</h3>
		<ul>
		{% for post in site.categories.getting-started %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>

<div class="row">
	
	<div class="span5">
		<h3>广告聚合使用问题</h3>
		<ul>
		{% for post in site.categories.mediation %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="span5">
		<h3>广告管理使用问题</h3>
		<ul>
		{% for post in site.categories.ad-serving %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
	

<div class="row">
	<div class="span5">
		<h3>果合 iOS SDK 使用问题</h3>
		<ul>
		{% for post in site.categories.ios %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
	
	<div class="span5">
		<h3 class="span5">Android SDK 使用问题</h3>
		<ul>
		{% for post in site.categories.android %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
	
<div class="row">
	<div class="span5">
		<h3>使用技巧与窍门</h3>
		<ul>
		{% for post in site.categories.tips %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
