---
layout: base
title: 果合开发者帮助中心
---

<div class="row">
	<div class="span10 search">
		<form method="post" action="http://google.com/" class="form-stacked">
			<label for="sitesearch">有问题 先搜索</label>
			<input class="xxlarge" name="sitesearch" type="text" />
		</form>
	</div>
</div>

<div class="row">
	<div class="span5">
		<h3>快速入门</h3>
		<ul>
		{% for post in site.categories.getting-started limit:5 %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
	
	<div class="span5">
		<h3>应用面板使用问题</h3>
		<ul>
		{% for post in site.categories.dashboard limit:5 %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
	
<div class="row">
	<div class="span5">
		<h3>iOS SDK 使用问题</h3>
		<ul>
		{% for post in site.categories.ios limit:5 %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
	
	<div class="span5">
		<h3 class="span5">Android SDK 使用问题</h3>
		<ul>
		{% for post in site.categories.android limit:5 %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
	
<div class="row">
	<div class="span5">
		<h3>使用技巧与窍门</h3>
		<ul>
		{% for post in site.categories.tips limit:5 %}
			<li><a href="{{post.url}}">{{post.title}}</a></li>
		{% endfor %}
		</ul>
	</div>
</div>
