<div class="headerBox bc clearfix">
 <a href="http://guohead.com/home" class="fl"><h1 class="dsp_ilb txti_9999 mt_10">guohead.com 果合</h1></a>
 <div class="BHover clearfix ml_20 fl pr">
  <p class="nav dsp_ilb f_16 fclr_nav">
   <a id="index1" class="noDashed toBlueLink cur"  href="http://guohead.com/home">首页</a>
   <a id="index2" class="toBlueLink"  href="http://guohead.com/home/feature">App开发者</a>
   <a id="index3" class="toBlueLink"  href="http://guohead.com/home/brand">移动营销</a>
   <a id="index3" class="toBlueLink"  href="http://guohead.com/home/ad_platform">广告平台</a>
   <a id="index3" class="toBlueLink"  href="http://help.guohead.com">帮助中心</a>
  </p>
  <div class="moveBG pa ml_15 none" style="left: 0px;"></div>
 </div>
 <div class="loginBlock fr pt_20 f_12">
  <p class="header_right">
   <a href="http://guohead.com/login" class="blueRBtn fr">登录</a>
   <a href="http://guohead.com/register" class="mt_8 mr_20 toBlueLink fr" href="/userinfo"><span>注册</span></a>
  </p>
 </div>
</div>      
